<div style="border: 2px solid black">
<% @a = @board.grid.map do |key, value| key %>
<% end %>

<% @b = @a.each_slice(10).to_a %>
<% @b.each { |b| %>
  <div> <%= b %> </div>
  <% } %>
</div>

<div>

   <form action="/initialize_game">
    Place your Patrol Boat:
    <input type="text" name="Location" required>
    <input type="text" name="orientation" required>
     Place your Submarine:
    <input type="text" name="Location" required>
    Place your Destroyer:
    <input type="text" name="Location" required>
    Place your Battleship:
    <input type="text" name="Location" required>
    Place your Aircraft Carrier:
    <input type="text" name="Location" required> 
     <input type="submit" value="Place Ship">
   </form>

</div>
