<div style="border: 2px solid black; width: 500px; height: 500px">
<% @board.grid.map do |key, value| %>
  <% if @board.grid[key].content.is_a?(Water) %>
    <div style="background-color: blue; display: inline-block; width: 44px; height: 46px; margin-right: 0"><%= key %></div>
  <% else %>
    <div style="background-color: yellow; display: inline-block; width: 44px; height: 46px; margin-right: 0"><%= key %></div>
  <% end %>
<% end %>
</div>
<div>


   <form action="/initialize_game">
    Place your Patrol Boat:
    <input type="text" name="location" required>
    <input type="text" name="orientation" required>
     <!-- Place your Submarine:
    <input type="text" name="Location" required>
    Place your Destroyer:
    <input type="text" name="Location" required>
    Place your Battleship:
    <input type="text" name="Location" required>
    Place your Aircraft Carrier:
    <input type="text" name="Location" required>  -->
     <input type="submit" value="Place Ship">
   </form>



</div>
